body {
  background-image: url("speedtelly.gif");
  background-size=1500px
  background-repeat: no-repeat;
  background-size: auto;
  margin: 30px;
  font-family: cursive;
}

.mypara {
  font-family: fantasy;
  color: white;
  font-size: 30px;
}

.right {
 float:right;
}
